body {
  background: #fce4ec;
  font-family: "Segoe UI", Arial, sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #f06292;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 8px 25px rgba(240, 98, 146, 0.25);
}

/* FORM */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f8bbd0;
  background: #fdf2f6;
}

.form input:focus {
  outline: none;
  border-color: #f06292;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background: #f8bbd0;
}

table th {
  color: #880e4f;
  font-weight: bold;
}

table th,
table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #f3c1d3;
}

table tbody tr:hover {
  background: #fdf2f6;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #ad1457;
}

/* BUTTON */
.btn {
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
  font-size: 13px;
}

.primary {
  background: #f06292;
  color: white;
}

.success {
  background: #f48fb1;
  color: white;
}

.warning {
  background: #f8bbd0;
  color: #880e4f;
}

.danger {
  background: #ec407a;
  color: white;
}

.btn:disabled {
  background: #f3c1d3;
  cursor: not-allowed;
}
